<%= simple_form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field small-12 large-4 column">
      <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="field small-12 large-4 column">
      <%= f.input :wallet %>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <div class="field small-12 large-4 column">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
