<div class="content-padded">

  <header>
    <h1>Request payment</h1>
  </header>

  <ul class="table-view">
    <li class="table-view-cell">
      Anonymous Mode
      <% if params[:anonymous] %>
        <%= link_to new_coinbase_request_path do %>
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_coinbase_request_path(anonymous: true) do %>
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        <% end %>
      <%end %>
    </li>
  </ul>

  <br/>
  Choose wallet: <%= @wallet %>
<br/>

<ul class="table-view">
  <% @accounts.each do |account| %>
    <% id = account["id"] %>
    <% balance = account["balance"].format %>
    <% name = account["name"] %>
    <% primary = account["primary"] %>

    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right">
          <%= image_tag "bitcoin_icon.png", class:"media-object pull-left"  %>
          <div class="media-body">
            <div>
              <%= name %>
            </div>
            <p>
              <%= balance %>
            </p>
            <% if primary %>
              <div class="badge">primary</div>
            <% end %>
          </div>
          <%= link_to "Request payment", coinbase_requests_path(id: id, anonymous: params[:anonymous]),
            method: :post, class:"btn btn-primary" %>
        </a>
      </li>
    </ul>

  <% end %>
</ul>
</div>

