<!DOCTYPE html>
<html>
<head>
  <title>OmniauthCoinbaseExample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= link_to "Sign out", destroy_session_url %>
  <% end %>
  <%= link_to "Requests", new_request_path %>
  <br/><br/>

<%= yield %>

</body>
</html>
