<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "BitBuddy" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to "BitBuddy", root_path %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="">
            <%= link_to "Contacts", contacts_path %>
          </li>
          <li class="has-dropdown">
            <a href="#">Coinbase</a>
            <ul class="dropdown">
              <li>
                <%= link_to "Request Ƀ", new_coinbase_request_path %>
              </li>
            </ul>
          </li>
          <li class="">
            <%= link_to "Sign out", destroy_session_path %>
          </li>
        </ul>

        <ul class="left">
        </ul>
      </section>
    </nav>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
